*{
    padding:0px;
    margin: 0px;
}

body{
    background:#E6925A;
    font-size: 20px;
}

header{
    background:#995C33;
}

ul{
    display: inline block;
    text-decoration: none;
    position: relative;
    text-align: center;
    
}

table{
    border:1px solid #000;
}
td{
    border:1px solid #000;
}

img{
    justify-content: center;
    margin-top: 20px;
}