*{
    padding:0px;
    margin: 0px;
}

body{
    background:#E6925A;
    font-size: 20px;
}

header{
    background:#995C33;
}

ul{
    display: inline block;
    text-decoration: none;
    position: relative;
    text-align: center;
}