*{
    padding:0px;
    margin: 0px;
}

body{
    background:#E6925A;
    font-size: 20px;
}

header{
    background:#995C33;
}

<<<<<<< HEAD:estilos.css
=======


>>>>>>> origin/karol:diseño/estilos.css
ul{
    display: inline block;
    text-decoration: none;
    position: relative;
    text-align: center;
<<<<<<< HEAD
    
}

<<<<<<< HEAD:estilos.css
table{
    border:1px solid #000;
}
td{
    border:1px solid #000;
}

img{
    justify-content: center;
    margin-top: 20px;
=======
>>>>>>> origin/tomas1102
}
=======
>>>>>>> origin/karol:diseño/estilos.css
